
.login{
 height: 100%;
}
.title{
    margin-top:10px;
    color: #342C61;
}
.logo-img{
    width: 100%;
}
.button-login{
    left: 0%;
}
.button-cadastro{
    left: 50%;
}
.btn-submit{
    color: white;
    border-radius: 3px;
    background-color: #342C61!important;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.btn-submit:hover{
    background-color: #2081A1!important;
    transition: 0.5s all ease;
}
.troca{
    margin-right: 25px;
}
.troca p{
    padding-right: 2px;
    
}
@media (max-width:1200px) {
    .logo-img{
        width: 50%;
    }
}